{% extends "EsolvingEschoolUserBundle::template.html.twig" %}
{% trans_default_domain "EsolvingEschoolRoomBundle" %}
{% form_theme edit_form 'EsolvingEschoolCoreBundle:Form:fields.html.twig' %}
{% block title %}{% trans %}edit_schedule{% endtrans %}{% endblock %}
{% block content %}
<div id="content">
    <h1>{{ block('title') }}</h1>

    <form action="{{ path('esolving_eschool_roomB_Schedule_update', { 'roomId': entity.room.id,'teacherId':entity.teacher.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
            <div class="form_label">&nbsp;</div>
            <div class="form_widget"><input type="submit" class="button button-form" value="{% trans %}edit{% endtrans %}"></div>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('esolving_eschool_roomB_Schedule') }}">{% trans %}back_to_the_list{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('esolving_eschool_roomB_Schedule_delete',{'roomId':entity.room.id,'teacherId':entity.teacher.id }) }}">{% trans %}delete{% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endblock content %}